.about {
  padding-top: 35px;
  padding-bottom: 45px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about__text {
  width: 555px;
  
  p {
    margin-top: 0;
  }
}

.about__img {
  width: 220px;
  padding: 8px 12px;
  border: 1px solid rgb(255, 102, 51);
}
