.catalog__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog__content {
  width: 850px;
  margin-bottom: 40px;
  
  .show__item {
    &:nth-child(4n) {
      margin-right: 20px;
    }
    
    &:nth-child(3n) {
      margin-right: 0;
    }
    
    .show__img {
      &::after {
        opacity: 0;
        content: "быстрый просмотр";
        position: absolute;
        top: 48%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #666;
        background-color: rgba(255, 255, 255, 0.741);
        background-image: url(../img/icon-eye.png);
        background-size: 19px 11px;
        background-repeat: no-repeat;
        background-position: center left 20px;
        cursor: pointer;
        .transition();
      }

      &:hover:not(.show__item--banner),
      &:active:not(.show__item--banner) {
        &::after {
          opacity: 1;
          .transition();
        }
      }
    }
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.catalog__filter {
  display: none;
}
