.footer {
  padding-top: 35px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  background-color: #333333;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 130px;
  padding-right: 50px;
}

.footer__menu {
  .reset();
  list-style: none;
  text-transform: uppercase;
  margin-right: auto;
  
  a:hover,
  a:active {
    border-bottom: 1px solid #fff;
  }
}

.footer__contacts {
  margin-left: auto;
  margin-right: 60px;
  
  a {
    display: block;
  }
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
  
  address {
    font-style: normal;
  }
}

.footer__social {
  p {
    margin-top: 0;
  }
}
